body {
    background-color: grey;
}

table, th, td {
    border: 1px solid black
}

h2 {
    text-align: center;
    color: yellow;
}

table img {
    height: 200px;
    width: 200px;
}

.logo {
    width: 40px;
    height: auto;
    display: inline;
}